.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius:15px;
    background-color: white;
    border: 0;
    opacity:unset;
}

.carousel-indicators .active{
    width: 23px;
    height: 10px;
    border-radius: 15px;
    background-color: #7b00a0;
}

#carouselTarget img{
    width:100%;
}

.order_search{
    margin-top:1%;
    height:300px;
    position:relative;
    display:flex;
    padding: 30px 5px;
    color:white;
    font-size:18px;
}

.order_app{
    width:50%;
    background-color : #ff5b28;
    border-radius: 50px 0px 50px 50px;
    margin:10px;
    line-height:0px;
}

.order_app_content{
    padding-top:30px;
    margin-left:15px;
}

.order_title{
    margin:30px;
    font-size:30px;
    font-weight:700;
}

.order_app img{
    position:absolute;
    top:20px;
    right:30px;
}

.order_app_circle{
    margin:30px;
    text-align:center;
    line-height:40px;
    width: 130px;
    height: 40px;
    background-color:black;
    border-radius:50px;
}

.order_app_circle a{
    text-decoration:none;
    color:white;
}

.order_app_hashtag, .search_store_hashtag{
    margin-left:7%;
}

.search_store{
    width:50%;
    background-color:#7b00a0;
    border-radius: 0px 50px 50px 50px;
    margin:10px;
    line-height:0px;
    top:20px;
}

.search_title{
    margin:30px;
    padding-top:30px;
    font-size:30px;
    font-weight:700;
}

.search_store_input{
    position:relative;
    display:inline-block;
}

input[type=text]{
    width: 115%;
    height:40px;
    font-size:18px;
    border-radius:50px;
    border:0;
    outline:none;
    margin:30px;
    margin-top:-0.5px;
    padding-left:20px;
    font-weight:400;
}

input::placeholder{
    color:black;
    font-weight:600;
}

.search_button{
    background-color:transparent;
    color:grey;
    border:0;
    padding-left:8%;
}

.search_store img{
    position:absolute;
    top:20px;
    right:50px;
}

.best_menu_first{
    display:flex;
    position:relative;
    width:100%;
    margin-top:5%;
}

.best_menu_title{
    font-size:75px;
    margin-left:10px;
    width:50%;
    font-weight:600;
}

.best_menu_title img{
    margin-bottom:9%;
    margin-left: -1%;
}

.best_menu_category{
    margin-top:4%;
    margin-left:-8%;
    text-align:center;
    font-size:19px;
}

.best_menu_category a{
    text-decoration:none;
    color:black;
    padding:7px;
}

.best_menu_category a:hover{
    background-color:black;
    color:white;
    border-radius:50px;
}

.best-menu-second{
    width:100%;
    margin-top:3%;
    margin-bottom:10%;
    overflow:hidden;
}

.best-menu-detail{
    text-align:center;
    font-size:20px;
    font-weight:bold;
}

.best-menu-button-prev, .best-menu-button-next {
    position:relative;
    left:29%;
    width:50px;
    height:50px;
    border:none;
    border-radius:50% 50%;
    background-color:lightgrey;
    color:white;
    margin-left:150px;
    top:-120px;
}

.special_tea {
    width: 100%;
    height: 250px;
    position: relative;
    font-size:40px;
    background-color:#322114;
    color:white;
    padding-top:60px;
    padding-left:10px;
}

.special_tea_span{
    font-weight:bold;
}

.special_tea img{
    margin-bottom:30px;
}

.taste {
    height: 700px;
    position: relative;
    display:flex;
}

.taste_of_coffee_mild{
    width: 33.33%;
    color: white;
    text-align:center;
    padding : 50px 0;
    font-size:18px;
    font-weight:500;
    background-color:#ff5b28;
}

.coffee_content{
    position:relative;
    font-size:40px;
    font-weight:bold;
}

.coffee_content img{
    position:absolute;
    top:-23px;
    left:111px;
}

.coffee_line{
    width:30%;
    margin:10px auto;
    border:0.5px solid;
    position:relative;
}

.coffee_taste{
    padding-bottom: 10%;
}

#special-logo{
    position:absolute;
    z-index:500;
    margin-left:410px;
    margin-top:50px;
    width:80px;
    height:100px;
}

.taste_of_coffee_dark{
    width: 33.33%;
    color: white;
    text-align:center;
    padding : 50px 0;
    font-size:18px;
    font-weight:500;
    background-color:#7b00a0;
}

#dark_image{
    left:29%;
}

.taste_of_coffee_decaffeine{
    width: 33.33%;
    color: white;
    text-align:center;
    padding : 50px 0;
    font-size:18px;
    font-weight:500;
    background-color:rgb(0, 73, 37);
}

.sns_title{
    font-size:75px;
    font-weight:600;
    padding-left:1%;
    width: 100%;
    margin-top:10%;
}

.sns_title img{
    margin-bottom:5%;
}

.the-venti-sns{
    padding-bottom:15%;
    overflow:hidden;
    height:550px;
}

.sns-slide{
    display:flex;
}

.the_venti_sns_circle{
    border-radius: 50% 0% 50% 50%;
    width:310px;
    height:310px;
    overflow:hidden;
    margin-top:80px;
    margin-left:13px;
    border: 3px solid transparent;
}

.the_venti_sns_circle:hover{
    border: 3px solid #7b00a0;
}

.the_venti_sns_circle img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.sns_insta{
    position:absolute;
    border-radius:50%;
    background-color:white;
    z-index:100;
    margin-left:-170px;
    margin-top:280px;
}

.swiper-pagination {
    color:grey;
    top:5%;
    margin-left:45%;
    height:1%;
}

.swiper-button {
    background-color:transparent;
    border:none;
    color:black !important;
    position:absolute;
    top:8.5%;
    margin-left:90%;
}

.the-venti-sns .swiper-button{
    top:8.5%;
}

.swiper-button-prev::after, .swiper-button-next::after {
    display:none;
}

.awardMain {
    display: flex;
    overflow: hidden;
    margin-left:10px;
}

.awardMain .award-list ul {
	display: flex;
}

.awardMain .award-list ul li {
	width: 200px;
	height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awardMain .award-list ul li .image-wrap > img {
    width: 40px;
    height: 40px;
}

#customer-award{
    width:40px;
    height: 70px;
}

#customer-select{
    width:40px;
    height: 20px;
}

.award-detail{
    color:grey ;
    font-size:14px;
    margin:0 10px;
    text-align:left;
}

.award-list.original {
	animation: rolling-original 60s linear infinite;
}

.award-list.clone {
	animation: rolling-clone 60s linear infinite;
}

@keyframes rolling-original {
	0% {
        transform: translateX(0);
    }
	50% {
	    transform: translateX(-100%);
	}
	50.01%{
	    transform:translateX(100%);
	}
	100%{
	    transform:translateX(0);
	}
}

@keyframes rolling-clone {
	0% {
        transition: translateX(0);
    }
	100% {
        transform: translateX(-200%);
    }
}