.purpleBox{
    background-color: purple;
    padding: 30px;
    width:100%;
    max-width:650px;
    margin:auto;
}

.whiteBox{
   background-color: white;
   padding: 30px;
   width: 80%;
   max-width: 500px;
   margin: auto;
}

h3{
    text-align:center;
    color:purple;
}

select{
    appearance:none;
    background:url("../image/down30.png") 92% no-repeat;
    background-size:15px;
    border-radius:0px;
    border-color:lightgrey;
}

.select-category{
    width:140px;
    height:39px;
    padding-left:10px;
    margin-left:190%;
    margin-top:30%;
    outline: none;
}

#member_id{
    width:180px;
    margin-top:20%;
    margin-left:3%;
}

input{
    outline:none;
    width:360px;
    border:solid lightgrey;
    margin-bottom: 3%;
    border-width:0 0 1px;
    margin-left:5%;
}

textarea{
    outline:none;
    resize:none;
    border-color: lightgrey;
    margin:5% 0%;
}

button{
    background-color:purple;
    color:white;
    border:none;
}

#list-button{
    float: right;
    background-color: orange ;
}