<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>글쓰기 페이지</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/detailPage.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/classic/ckeditor.js"></script>
        <script src="https://kit.fontawesome.com/4e5b2f86bb.js" crossorigin="anonymous"></script>
    </th:block>
</head>

<body>

<div layout:fragment="content">
    <div class="wrap">
        <div class="wrap_text">
            <h1>COMMUNITY</h1>
            좋은 커피와 맛있는 음료를 합리적인 가격에 제공해드리는 우리는 "더벤티"입니다
        </div>
        <div class="wrap_image">
            <img th:src="@{/image/community.jpeg}" src="/static/image/community.jpeg" alt="">
        </div>
    </div>

    <div class="notice_container">
        <li class="notice_category">
            <a class="subCategory" id="notice" href="/notice">공지사항</a>
            <a class="subCategory" id="press" href="#">보도자료</a>
            <a class="subCategory" href="#">이벤트</a>
            <a class="subCategory" href="#">칭찬매장</a>
            <a class="subCategory" href="#">더벤티 이야기</a>
            <a class="subCategory" href="#">SNS</a>
            <a class="subCategory" href="#">자주하는 질문</a>
            <a class="subCategory" href="#">벤티럭 사연접수</a>
            <a class="subCategory" href="#">THEVENGERS 봉사활동</a>
        </li>
        <hr class="notice_hr">
    </div>

    <div class="notice_board_button">
        <button type="button" id="button_notice" onclick="location.href='/notice'">공지사항</button>
        <button type="button" id="button_press" onclick="location.href='/press'">보도자료</button>
    </div>

    <form action="/detailPageWrite" method="post" th:object="${noticeDto}">
        <span th:field="*{createdNumber}" hidden="hidden"></span>
        <span th:field="*{createdDate}" hidden="hidden"></span>

        <label for="editor" class="content-area">

            <label for="memberId">작성자</label>
            <input type="text" id="memberId" th:field="*{memberId}" autocomplete="off">

            <label for="detailTitle_write">제목</label>
            <input type="text" id="detailTitle_write" th:field="*{detailTitle}" autocomplete="off">


            <label for="category"></label>
            <select class="select-category" id="category" name="category">
                <option value="">분류</option>
                <option th:each="category : ${category}" th:value="${category}" th:text="${category}"></option>
            </select>

            <textarea name="detailContent" id="editor" th:field="*{detailContent}"></textarea>

            <button type="button" class="list-button" onclick="location.href='/notice'">목록</button>
            <button type="submit" class="post-button">글작성</button>

        </label><!--editor-->
    </form>

</div>

<div layout:fragment="scriptFragment">
    <script>
        let editor;

        ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .then( newEditor => {
            editor = newEditor;
            const data = editor.getData();
        } )
        .catch( error => {
            console.error( error );
        } );
    </script>
</div>
</body>
</html>