<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>상세 페이지</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/detailPage.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/classic/ckeditor.js"></script>
        <script src="https://kit.fontawesome.com/4e5b2f86bb.js" crossorigin="anonymous"></script>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="wrap">
        <div class="wrap_text">
            <h1>COMMUNITY</h1>
            좋은 커피와 맛있는 음료를 합리적인 가격에 제공해드리는 우리는 "더벤티"입니다
        </div>
        <div class="wrap_image">
            <img th:src="@{/image/community.jpeg}" src="/static/image/community.jpeg" alt="">
        </div>
    </div>
    <div class="notice_container">
        <li class="notice_category">
            <a class="subCategory" id="notice" href="/notice">공지사항</a>
            <a class="subCategory" id="press" href="#">보도자료</a>
            <a class="subCategory" href="#">이벤트</a>
            <a class="subCategory" href="#">칭찬매장</a>
            <a class="subCategory" href="#">더벤티 이야기</a>
            <a class="subCategory" href="#">SNS</a>
            <a class="subCategory" href="#">자주하는 질문</a>
            <a class="subCategory" href="#">벤티럭 사연접수</a>
            <a class="subCategory" href="#">THEVENGERS 봉사활동</a>
        </li>
        <hr class="notice_hr">
    </div>

    <div class="notice_board_button">
        <button type="button" id="button_notice" onclick="location.href='/notice'">공지사항</button>
        <button type="button" id="button_press" onclick="location.href='/press'">보도자료</button>
    </div>

    <label for="editor" class="content-area">
        <form id="post-form" method="post" th:action="@{'/detailPageView/' + ${noticeDto.createdNumber}}">
            <span hidden="hidden" th:value="${noticeDto.createdNumber}"></span>

            <label for="detailTitle">제목</label>
            <input type="text" id="detailTitle" th:value="${noticeDto.detailTitle}"
                   autocomplete="off">

            <label for="category"></label>
            <select class="select-category" id="category" name="category">
                <option value="">분류</option>
                <option th:each="category : ${category}" th:value="${noticeDto.category}"
                        th:text="${category}"></option>
            </select>

            <!--작성자 | 작성일-->
            <span class="writer_date">
            <span th:text="${noticeDto.memberId}" th:field="*{memberId}"></span> |
            <span th:text="${#temporals.format(noticeDto.createdDate,'yyyy.MM.dd')}" th:field="*{createdDate}"></span>
        </span>

            <!--detail_content-->
            <textarea id="editor" th:text="${noticeDto.detailContent}"></textarea>

            <button type="button" class="list-button" onclick="location.href='/notice'">목록</button>

            <button type="submit" id="delete-button">글삭제</button>

            <form id="edit-form">
                <button type="button" id="edit-button" th:value="edit"
                        th:href="@{'/detailPageView/edit/' + ${noticeDto.createdNumber}}">
                    글수정
                </button>
            </form>

            <a th:href="@{'/detailPageView/edit/' + ${noticeDto.createdNumber}}">
                <button id="edit">글수정a태그</button>
            </a>

        </form>
    </label>
</div>

<div layout:fragment="scriptFragment">
    <script>
        let editor;

        ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .then( newEditor => {
            editor = newEditor;
        } )
        .catch( error => {
            console.error( error );
        } );


        document.querySelector( '#edit-button' ).addEventListener( 'click', () => {
            const data = editor.getData();

            alert(data);

            document.querySelector('#edit-button').value = data;
            document.querySelector('#post-form').submit();

        } );
    </script>
</div>
</body>
</html>