<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/detailPage.css}">
    <script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/classic/ckeditor.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <title>글작성페이지</title>
</head>

<body>

<header>
    <div class="topMenuList">
        <div id="topMenu">
            <ul>
                <li class="topMenuLi">
                    <div class="logo">
                        <a href="/main"><img th:src="@{/image/theVentiLogo.png}" alt=""
                                             src="/static/image/theVentiLogo.png"></a>
                    </div>
                </li>
                <li class="topMenuLi">
                    <a class="menuLink" href="#">BRAND</a>
                    <ul class="submenu">
                        <li><a href="#" class="submenuLink">더벤티 소개</a></li>
                        <li><a href="#" class="submenuLink">더벤티 연혁</a></li>
                        <li><a href="#" class="submenuLink">BI 소개</a></li>
                        <li><a href="#" class="submenuLink">찾아오시는 길</a></li>
                    </ul>
                </li>
                <li class="topMenuLi">
                    <a class="menuLink" href="#">MENU</a>
                    <ul class="submenu">
                        <li><a href="#" class="submenuLink">더벤티 커피이야기</a></li>
                        <li><a href="#" class="submenuLink">신메뉴</a></li>
                        <li><a href="#" class="submenuLink">전체메뉴</a></li>
                    </ul>
                </li>
                <li class="topMenuLi">
                    <a class="menuLink" href="#">STORE</a>
                    <ul class="submenu">
                        <li><a href="#" class="submenuLink">매장찾기</a></li>
                    </ul>
                </li>
                <li class="topMenuLi">
                    <a class="menuLink" href="#">MEMBERSHIP</a>
                    <ul class="submenu">
                        <li><a href="#" class="submenuLink">더벤티 APP 소개</a></li>
                    </ul>
                </li>
                <li class="topMenuLi">
                    <a class="menuLink" href="/notice">COMMUNITY</a>
                    <ul class="submenu">
                        <li><a href="/notice" class="submenuLink">공지사항</a></li>
                        <li><a href="#" class="submenuLink">보도자료</a></li>
                        <li><a href="#" class="submenuLink">이벤트</a></li>
                        <li><a href="#" class="submenuLink">칭찬매장</a></li>
                        <li><a href="#" class="submenuLink">더벤티 이야기</a></li>
                        <li><a href="#" class="submenuLink">SNS</a></li>
                        <li><a href="#" class="submenuLink">자주하는 질문</a></li>
                        <li><a href="#" class="submenuLink">벤티럭 사연접수</a></li>
                        <li><a href="#" class="submenuLink">THEVENGERS 봉사활동</a></li>
                    </ul>
                </li>
                <li class="topMenuLi">
                    <a class="symbol" href="/main">프랜차이즈&nbsp;
                        <img th:src="@{/image/logo-icon.png}" src="/static/image/logo-icon.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="wrap">
    <div class="wrap_text">
        <h1>COMMUNITY</h1>
        좋은 커피와 맛있는 음료를 합리적인 가격에 제공해드리는 우리는 "더벤티"입니다
    </div>
    <div class="wrap_image">
        <img th:src="@{/image/community.jpeg}" src="/static/image/community.jpeg" alt="">
    </div>
</div>

<div class="notice_container">
    <li class="notice_category">
        <a class="subCategory" id="notice" href="/notice">공지사항</a>
        <a class="subCategory" id="press" href="#">보도자료</a>
        <a class="subCategory" href="#">이벤트</a>
        <a class="subCategory" href="#">칭찬매장</a>
        <a class="subCategory" href="#">더벤티 이야기</a>
        <a class="subCategory" href="#">SNS</a>
        <a class="subCategory" href="#">자주하는 질문</a>
        <a class="subCategory" href="#">벤티럭 사연접수</a>
        <a class="subCategory" href="#">THEVENGERS 봉사활동</a>
    </li>
    <hr class="notice_hr">
</div>

<div class="notice_board_button">
    <button type="button" id="button_notice" onclick="location.href='/notice'">공지사항</button>
    <button type="button" id="button_press" onclick="location.href='/press'">보도자료</button>
</div>

<form action="/detailPageWrite" method="post" th:object="${noticeDto}">
    <span th:field="*{createdNumber}" hidden="hidden"></span>
    <span th:field="*{createdDate}" hidden="hidden"></span>

    <label for="editor" class="content-area">

        <label for="memberId">작성자</label>
        <input type="text" id="memberId" th:field="*{memberId}" autocomplete="off">

        <label for="detailTitle_write">제목</label>
        <input type="text" id="detailTitle_write" th:field="*{detailTitle}" autocomplete="off">


        <label for="category"></label>
        <select class="select-category" id="category" name="category">
            <option value="">분류</option>
            <option th:each="category : ${category}" th:value="${category}" th:text="${category}"></option>
        </select>

        <textarea name="detailContent" id="editor" th:field="*{detailContent}"></textarea>

        <button type="button" class="list-button" onclick="location.href='/notice'">목록</button>
        <button type="submit" class="post-button">글작성</button>

    </label><!--editor-->
</form>


<!--footer-->
<footer id="footer" class="footer">
    <div class="footer-first">
        <div class="container">
            <div class="footer-logo">
                <img src="/static/image/the-venti-footer-logo.png" alt=""
                     th:src="@{/image/the-venti-footer-logo.png}">
            </div>
            <div class="footer-category">
                <a href="#">더벤티 소개</a>
                <a href="#">고객상담</a>
                <a href="#">개인정보 처리방침</a>
                <a href="#">이용약관</a>
            </div>
            <div class="footer-sns">
                <a href="#"><img src="/static/image/f_youtube.png" alt="" th:src="@{/image/f_youtube.png}"></a>
                <a href="#"><img src="/static/image/f_insta.png" alt="" th:src="@{/image/f_insta.png}"></a>
                <a href="#"><img src="/static/image/f_facebook.png" alt="" th:src="@{/image/f_facebook.png}"></a>
                <a href="#"><img src="/static/image/f_blog.png" alt="" th:src="@{/image/f_blog.png}"></a>
            </div>
        </div>
    </div>
    <div class="footer-line"></div>
    <div class="footer-second">
        <div class="container">
            <div class="footer-contact-tel">
                <div>가맹문의 <a href="#">1661-4553</a></div>
                <div>고객센터 <a href="#">1644-0513</a></div>
            </div>
            <div class="footer-address">
                <div class="footer-busan">더벤티 부산&교육센터<span
                        class="busan-detail">부산광역시 해운대구 센텀서로 30, 2507호(KNN타워)</span>
                </div>
                <div class="footer-seoul">더벤티 서울&교육센터<span class="seoul-detail">서울특별시 구로구 디지털로33길 27 408~414호</span>
                </div>
                <div class="footer-company">
                    <span>(주)에스앤씨세인</span>
                    <span class="footer-company-number">사업자번호 : 534-88-00122</span>
                    <span class="footer-company-people">대표이사 : 박수암 강삼남 최준경</span>
                </div>

                <div class="footer-copyright">
                    Copyright &copy; THEVENTI. All right Reserved.
                    <a href="#">Created By<span class="masstige">Masstige.</span></a>
                </div>
            </div>
            <div class="footer-intro">
                <a href="#">인트로&nbsp;
                    <img th:src="@{/image/logo-icon.png}" src="/static/image/logo-icon.png" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>

<script>
    let editor;

    ClassicEditor
    .create( document.querySelector( '#editor' ) )
    .then( newEditor => {
        editor = newEditor;

        const data = editor.getData();
    } )
    .catch( error => {
        console.error( error );
    } );



</script>



</body>
</html>