<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <style>
        .purpleBox{
            background-color: purple;
            padding: 30px;
            width:100%;
            max-width:650px;
            margin:auto;
        }
       .whiteBox{
           background-color: white;
           padding: 30px;
           width: 80%;
           max-width: 500px;
           margin: auto;
       }
       form{
           flow:left;
           left:100px;
           text-align:left;
       }
       input{
            border-width: 0 0 2px;
       }
       textarea{
            resize:none;
       }
       button{
            background-color:purple;
            color:white;
            border:0;
       }

    </style>
    <title>상세페이지</title>
</head>
<body>

<div class="detailBox">
    <div class="purpleBox">
        <div class="whiteBox">
            <h3 style="color:purple; text-align:center;">상세페이지</h3>

            <!--상세페이지-->
            <!--pkid(hidden) 제목 작성자 날짜 파일(이미지) 내용-->
            <!--createdNumber detailTitle memberId createdDate fileName detailContent-->
            <input type="hidden" th:value="${detailPageView.created_number}" name="created_number">
            <input type="hidden" th:value="${detailPageView.category}">

            <label>
                <span>제목</span>
                <input type="text" readonly="readonly" th:value="${detailPageView.detail_title}" style="outline:none;">
            </label>
            <div class="writer_date"><!--작성자 | 작성일-->
                <span th:text="${detailPageView.member_id}"></span> |
                <span th:text="${#temporals.format(detailPageView.created_date,'yyyy.MM.dd')}"></span>
            </div>
            <br>
            <div>내용
                <label>
                    <input type="image" alt="" hidden="hidden"><!--파일업로드-->
                    <textarea cols="40" rows="5" th:text="${detailPageView.detail_content}" name="detailContent"
                              readonly="readonly"></textarea>
                </label>
            </div>

            <button type="button" onclick="editDetailPage();">수정</button>
            <button type="button" onclick="location.href='/deleteDetailPage'" style="background-color:grey; color:white;">삭제</button>
            <button type="button" onclick="location.href='/notice'"
                    style="background-color:orange; color:white; float:right;">목록
            </button>
            <div>
                <form action="/reply" th:object="${replyDto}" method="post">
                    <label>
                        <!--replyId memberId replyContent-->
                        <input type="text" id="replyId" readonly="readonly" hidden="hidden">
                    </label>
                    <p>댓글창
                        <label>
                        <textarea cols="40" rows="5" id="replyContent" name="replyContent"
                                  autocomplete="off"></textarea>
                        </label>
                        <button type="button" onclick="writeReply();">댓글작성</button>
                        <button type="button" onclick="editReply();">댓글수정</button>
                        <input type="submit" value="submit댓글작성">
                    </p>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function editDetailPage(){
        var content = $("#detailContent").val();
        var number = $("input[name='created_number']").val();
        $("#detailContent").focus();
        if(content == ''){
            alert("본문이 공백입니다.");
        }else{
            alert(number+":::수정버튼누름:::created_number");
            $("#detailContent").focus();
        }
    }

    function writeReply(){
       var content = $("#replyContent").val();
       var number = $("input[name='created_number']").val();

       if(content == ''){
            alert("댓글이공백일때:::댓글을 입력해주세요.");
            $("#replyContent").focus();
       }else{
            alert(number+"::::created_number");
            location.href="/reply";
       }
    }

    function editReply(){
        var content = $("#replyContent").val();
        $("#replyContent").focus();
        if(content ==''){
            alert("수정댓글공백");
        }else{
            alert(content+"::수정댓글내용");
        }
    }

</script>
</body>
</html>