<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>공지사항 리스트 페이지</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/notice.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script src="https://kit.fontawesome.com/4e5b2f86bb.js" crossorigin="anonymous"></script>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="wrap">
        <div class="wrap_text">
            <h1>COMMUNITY</h1>
            좋은 커피와 맛있는 음료를 합리적인 가격에 제공해드리는 우리는 "더벤티"입니다
        </div>
        <div class="wrap_image">
            <img th:src="@{/image/community.jpeg}" src="/static/image/community.jpeg" alt="">
        </div>
    </div>

    <div class="notice_container">
        <li class="notice_category">
            <a class="subCategory" id="notice" href="/notice">공지사항</a>
            <a class="subCategory" id="press" href="#">보도자료</a>
            <a class="subCategory" href="#">이벤트</a>
            <a class="subCategory" href="#">칭찬매장</a>
            <a class="subCategory" href="#">더벤티 이야기</a>
            <a class="subCategory" href="#">SNS</a>
            <a class="subCategory" href="#">자주하는 질문</a>
            <a class="subCategory" href="#">벤티럭 사연접수</a>
            <a class="subCategory" href="#">THEVENGERS 봉사활동</a>
        </li>
        <hr class="notice_hr">
    </div>

    <div class="notice_board_button">
        <button type="button" id="button_notice" onclick="location.href='/notice'">공지사항</button>
        <button type="button" id="button_press" onclick="location.href='/press'">보도자료</button>
    </div>

    <div class="selectForm">
        <form method="get">
            <label>
                <select class="select-category">
                    <option value="0">분류</option>
                    <option value="1">소식</option>
                    <option value="2">출시</option>
                    <option value="3">이벤트</option>
                    <option value="4">발표</option>
                </select>
            </label>
        </form>
    </div>

    <div id="noticeBoard">
        <div id="noticeBoard_hr"></div>
        <ul>
            <li class="noticeBoardList">
                <ul id="ulBoard">
                    <li>
                        <ul>
                            <li>번호</li>
                            <li>분류</li>
                            <li>제목</li>
                            <li>이름</li>
                            <li>작성일</li>
                        </ul>
                    </li>
                    <li>
                        <ul th:each="notice:${noticeList}">
                            <li th:text="${notice.createdNumber}"></li>
                            <li th:text="${notice.category}"></li>
                            <li class="detailTitle">
                                <a th:href="@{'/detailPageView/' + ${notice.createdNumber}}">
                                    <span th:text="${notice.detailTitle}"></span>
                                </a>
                            </li>
                            <li th:text="${notice.memberId}"></li>
                            <li th:text="${#temporals.format(notice.createdDate,'yyyy.MM.dd')}"></li>
                        </ul>
                    </li>
                </ul>
            </li><!--noticeBoardList-->

            <li>
                <div id="divPaging">
                    <div><a href="#"><i class="fa fa-angle-double-left"></i></a></div>
                    <div>1</div>
                    <div>2</div>
                    <div>3</div>
                    <div>4</div>
                    <div>5</div>
                    <div><a href="#"><i class="fa fa-angle-double-right"></i></a></div>
                </div>
            </li>
        </ul>

    </div><!--noticeBoard-->

    <div class="searchForm-line"></div>

    <div class="searchForm">
        <form method="post">
            <label>
                <select class="search-category">
                    <option>제목</option>
                    <option>내용</option>
                </select>
                <input type="text" class="search-text" value="">
                <input type="button" class="search-button" value="검색">
            </label>
            <button type="button" class="post-button" onclick="location.href='/detailPageWrite'">글작성</button>
        </form>
    </div><!--searchForm-->

    <div class="searchForm-line"></div>

</div>
</body>
</html>